<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome</h1>
            <nav class="nav-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="/albums">Albums</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container selection">
        <a href="/posts">Posts</a>
        <a href="/albums">Albums</a>
    </div>
</body>
</html>
